﻿@model ADAMVC.Models.AddProduct

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductBrand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductBrand)
            @Html.ValidationMessageFor(model => model.ProductBrand)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductFeatures)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductFeatures)
            @Html.ValidationMessageFor(model => model.ProductFeatures)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Warranty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Warranty)
            @Html.ValidationMessageFor(model => model.Warranty)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "list", new { username = User.Identity.Name })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
