﻿@model ADAMVC.Models.AddProduct

@{
    ViewBag.Title = "Details";
}
<style type="text/css">
    .myButton {
        -moz-box-shadow: 0px 10px 14px -7px #3e7327;
        -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
        box-shadow: 0px 10px 14px -7px #3e7327;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
        background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
        background-color: #77b55a;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #4b8f29;
        display: inline-block;
        cursor: pointer;
        color: rgba(17, 168, 255, 0.85);
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 12px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #5b8a3c;
    }

        .myButton:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
            background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
            background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
            background-color: #72b352;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
<h2>Details</h2>

<fieldset>
    <legend>AddProduct</legend>
    <table>
    <div class="display-label">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProductName)
            </td>
</div>
    <div class="display-field">

        <td>                          
        @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
</div>

    <div class="display-label">
        <tr> 
            <td>
                @Html.DisplayNameFor(model => model.ProductBrand)
              
            </td>
    </div>
    <div class="display-field">
        <td>
            @Html.DisplayFor(model => model.ProductBrand)
        </td>
        </tr>
    </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProductFeatures)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.ProductFeatures)
            </td>
            </tr>
        </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Warranty)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.Warranty)
            </td>
            </tr>
        </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.price)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.price)
            </td>
            </tr>
        </div>
        </table>
</fieldset>
<p>
    <div class="myButton">
        @Html.ActionLink("Edit", "Edit", new { id = Model.productId })
    </div>
    <div class="myButton">
        @Html.ActionLink("Back to List", "list")
        </div>
</p>
