﻿@model debit

@{
    ViewBag.Title = "debit";
}

<h2>debit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>debit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.cardholderName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cardholderName)
            @Html.ValidationMessageFor(model => model.cardholderName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cardNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cardNumber)
            @Html.ValidationMessageFor(model => model.cardNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dob)
            @Html.ValidationMessageFor(model => model.dob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cvv)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cvv)
            @Html.ValidationMessageFor(model => model.cvv)
        </div>

        <p>
            <input type="submit" value="save" onclick="thanku()" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
