﻿@model IEnumerable<ADAMVC.Models.Television>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>televisionlist</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.channel)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repetition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.channel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProductName }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductName }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductName })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
