﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("imageupload", "Banner", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div>
        Brand Name<br />
        @Html.TextBox("brandname")<br/>
        User Name<br/>
        @Html.TextBox("UserName")<br/>
       
        Image<br />
        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        <input type="submit" value="Upload" class="submit" />
    </div>
}