﻿@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
Banner Details:<br/>

Size    &nbsp;	&nbsp; 	&nbsp;	&nbsp; &nbsp;&nbsp;  Name<br/>
468 x 60&nbsp;	&nbsp;	&nbsp;	Full Banner<br/>
728 x 90&nbsp;&nbsp;	&nbsp;&nbsp;Leaderboard<br />
336 x 280		&nbsp;	&nbsp;Square<br />
300 x 250		&nbsp;	&nbsp;Square<br />
250 x 250		&nbsp;	&nbsp;Square<br/>
160 x 600		&nbsp;	&nbsp;Skyscraper<br />
120 x 600	&nbsp;		Skyscraper<br />
120 x 240	&nbsp;&nbsp;&nbsp;	Small Skyscraper<br />
240 x 400		&nbsp;	&nbsp;Fat Skyscraper<br />
234 x 60	&nbsp;	&nbsp;	&nbsp;Half Banner<br />
180 x 150	&nbsp;	&nbsp;	Rectangle<br />
125 x 125		&nbsp;	&nbsp;Square Button<br />
120 x 90		&nbsp;&nbsp;	&nbsp;Button<br />
120 x 60		&nbsp;&nbsp;	&nbsp;Button<br />
88 x 31	   &nbsp;	&nbsp;	&nbsp; Button<br />
300x600	   	&nbsp;	&nbsp; Half Page Banner<br />


@Html.ActionLink("Credit card", "credit", "Home")
@Html.ActionLink("Debit card", "debit", "Home")