﻿@model ADAMVC.Models.banner

@{
    ViewBag.Title = "Banner";
}

<h2>Banner</h2>
@{

    ADAMVC.Models.UsersContext db = new ADAMVC.Models.UsersContext();
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>banner</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductBrand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductBrand)
            @Html.ValidationMessageFor(model => model.ProductBrand)
        </div>

 

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div class="editor-label">
            @*<script type="text/javascript">
            function ShowHideDiv() {
                var color = document.getElementById("color");
                var backgroundcolor = document.getElementById("backgroundcolor");
                backgroundcolor.style.display = color.value == "Y" ? "block" : "none";
            }
                    </script>
                    <span>Do You  want to specify bakgroundcolour  in banner</span>
                    <select id="color" onchange="ShowHideDiv()">
                        <option value="N">No</option>
                        <option value="Y">Yes</option>
                    </select>
                    <div> @*class="editor-label" id="backgroundcolor">*@
            @Html.LabelFor(model => model.color)
            @Html.DropDownListFor(model => model.color, new SelectList(new[] { "Empty", "Red", "Black", "White", "blue", "Green", "Pink", "Violet" }), new { @required = "required" })
            @Html.ValidationMessageFor(model => model.color)
        </div>

         
           
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.quantity)
            @Html.ValidationMessageFor(model => model.quantity)
        </div>
        <div class="editor-label" id="size">
            @Html.LabelFor(model => model.size)

            @Html.DropDownListFor(model => model.size, new SelectList(new[] { "", "336*280", "300*250", "160*600", "244*100" })
            , new { @required = "required" })
            @Html.ValidationMessageFor(model => model.size)
            @*<select id="size" onchange="GetSelectedTextValue(this)">
                <option value=""></option>
                <option value="1600">300*250</option>
                <option value="1800">336*280</option>
                <option value="2000">160*600</option>
                <option value="3000">244*100</option>
            </select>
            <script type="text/javascript">
                function GetSelectedTextValue(size) {
                    var selectedText = size.options[size.selectedIndex].innerHTML;
                    var selectedValue = size.value;
                    alert("Cost Of Banner :" + selectedValue);
                }
    </script>*@


                </div>
                <div class="editor-label" id="printedside">
                    @Html.LabelFor(model => model.printedside)

                    @Html.DropDownListFor(model => model.printedside, new SelectList(new[] { "", "front","front and back"}), new { @required = "required" })
                    @Html.ValidationMessageFor(model => model.printedside)
                </div>


           
   

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
@Html.ActionLink("upload image","Index","Banner")
   @Html.ActionLink("Back to List", "bannerlist", new { username = User.Identity.Name })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
