﻿@model ADAMVC.Models.Television

@{
    ViewBag.Title = "Television";
}

<h2>Television</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Television</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductBrand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductBrand)
            @Html.ValidationMessageFor(model => model.ProductBrand)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.AddDuration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddDuration)
            @Html.ValidationMessageFor(model => model.AddDuration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Repetition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Repetition)
            @Html.ValidationMessageFor(model => model.Repetition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.channel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.channel)
            @Html.ValidationMessageFor(model => model.channel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>


        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "televisionlist", new { username = User.Identity.Name })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
