﻿@model IEnumerable<ADAMVC.Models.banner>

@{
    ViewBag.Title = "bannerlist";
}

<h2>bannerlist</h2>

<p>
    @Html.ActionLink("Create New", "Banner")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBrand)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.printedside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductBrand)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.printedside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>

    </tr>
}

</table>
<br/>




    @Html.ActionLink("Payment", "Payment", "Home")
