﻿
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

@using (Html.BeginForm())
{
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
            @{

    ADAMVC.Models.UsersContext db = new ADAMVC.Models.UsersContext();
            }
            @foreach (var item in db.imageuploads)
            {



                <tr>
                    <td><img src="~/Images/@item.imageurl" width="100" height="100" /></td>

                </tr>
            }
            @Html.ActionLink("Payment", "payment", "Home")


        </tbody>
    </table>
}