﻿@model IEnumerable<ADAMVC.Models.AddProduct>

@{
    ViewBag.Title = "adminproductlist";
}

<h2>adminproductlist</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFeatures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductBrand)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductFeatures)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Warranty)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
      
    </tr>
}
   
</table>
@Html.ActionLink("Bannerlist", "adminbannerlist")
@Html.ActionLink("Televisionlist", "admintelevisionlist")