﻿@model ADAMVC.Models.Banner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Banner</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Banner</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.id)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.id)
                @Html.ValidationMessageFor(model => model.id)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ProductName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BannerLength)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BannerLength)
                @Html.ValidationMessageFor(model => model.BannerLength)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BannerWidth)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BannerWidth)
                @Html.ValidationMessageFor(model => model.BannerWidth)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Bannerduration)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Bannerduration)
                @Html.ValidationMessageFor(model => model.Bannerduration)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BannerPlace)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BannerPlace)
                @Html.ValidationMessageFor(model => model.BannerPlace)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BannerFrom)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BannerFrom)
                @Html.ValidationMessageFor(model => model.BannerFrom)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BannerTo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BannerTo)
                @Html.ValidationMessageFor(model => model.BannerTo)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Content)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "bannerlist")
    </div>
</body>
</html>
