﻿@model IEnumerable<ADAMVC.Models.Television>

@{
    ViewBag.Title = "admintelevisionlist";
}

<h2>admintelevisionlist</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repetition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.channel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repetition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.channel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
      
    </tr>
}

</table>
@Html.ActionLink("Back to banner list", "adminbannerlist")
@Html.ActionLink("Back to product list", "adminproductlist")