﻿@model ADAMVC.Models.ImageDisplay 
@{
    ViewBag.Title = "WELCOME TO SVS ADVERTISING AGENCY";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           <h2> You Will Look Better With Us !!</h2>
        </div>
    </section>
    <table>
        <tr>
            <img src= "@Url.Content(Model.ImagePath0)" width="1000px " height="250px" alt="sample image"/>

        </tr>
        <div style="padding:10px"/>
        <td>
        
            <img src="@Url.Content(Model.ImagePath1)" width="300px " height="250px" alt="sample image" />

        
        </td>
        <td>

            <img src="@Url.Content(Model.ImagePath2)" width="300px " height="250px" alt="sample image" />


        </td>
        <td>

            <img src="@Url.Content(Model.ImagePath3)" width="300px " height="250px" alt="sample image" />


        </td>
    </table>
}
