﻿@{
    ViewBag.Title = "Payment";
}



<h2>Payment</h2>
<br/>

<div class="myButton">
@Html.ActionLink("Credit card", "credit", "Home")
    </div>
<div class="myButton">
@Html.ActionLink("Debit card", "debit", "Home")
</div>