﻿@model ADAMVC.Models.Television

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Television</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Television</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.ProductName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.AddDuration)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddDuration)
                @Html.ValidationMessageFor(model => model.AddDuration)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Repetition)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Repetition)
                @Html.ValidationMessageFor(model => model.Repetition)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Duration)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.channel)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.channel)
                @Html.ValidationMessageFor(model => model.channel)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "televisionlist")
    </div>
</body>
</html>
