﻿@model ADAMVC.Models.AddProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AddProduct</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductBrand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductBrand)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductFeatures)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductFeatures)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Warranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warranty)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "list", new { brandName = User.Identity.Name })
    </p>
}
