﻿@model ADAMVC.Models.AddProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AddProduct</legend>
    <table>
    <div class="display-label">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProductName)
            </td>
</div>
    <div class="display-field">

        <td>                          
        @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
</div>

    <div class="display-label">
        <tr> 
            <td>
                @Html.DisplayNameFor(model => model.ProductBrand)
              
            </td>
    </div>
    <div class="display-field">
        <td>
            @Html.DisplayFor(model => model.ProductBrand)
        </td>
        </tr>
    </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProductFeatures)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.ProductFeatures)
            </td>
            </tr>
        </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Warranty)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.Warranty)
            </td>
            </tr>
        </div>
        <div class="display-label">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.price)

                </td>
        </div>
        <div class="display-field">
            <td>
                @Html.DisplayFor(model => model.price)
            </td>
            </tr>
        </div>
        </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.productId }) |
    @Html.ActionLink("Back to List", "list")
</p>
